<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anchorage List</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="root"></div>
    <script src="js/bundle.js"></script>
    <script>
      <%if (currentUser) { %>
      window.currentUser = {
        _id: '<%- currentUser.id %>',
        email: '<%- currentUser.email %>',
        sessionToken: '<%- currentUser.sessionToken %>'
      }
      <% } %>
    </script>
  </body>
</html>
